<div class="card container my-4" style="background-color:rgba(192, 192, 192, 0.993)">

    <a routerLink="/pagos" class="btn btn-danger col-3 mt-2"><i class="bi bi-arrow-left-circle "></i> Atras</a>
    <h1 class="text-center mt-2">Formulario pagos OVH</h1>


    <form class="d-flex mb-3 card mx-auto mt-3" style="background-color:#c0c0c0fd" [formGroup]="profileForm"
        (ngSubmit)="buscarAlumno()">


        <h4 class="text-center my-1">Búsqueda del alumno</h4>
        <h5 class="text-center my-1">Búscar por:</h5>

        <div class="d-flex my-2 mx-auto">

            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" (change)="onChange($event, 'boolean')" name="check"
                    formControlName="boolean" id="boolean" >
                <label type="checkbox" class="form-check-label" for="boolean">CURP</label>
            </div>


            <div class="form-check form-check-inline ">
                <input type="checkbox" class="form-check-input" (change)="onChange($event, 'boolean2')" name="check"
                    formControlName="boolean2" id="boolean2">
                <label type="checkbox" class="form-check-label" for="matricula">Matricula</label>
            </div>

        </div>

        <div class="d-flex mb-2">
            <input class="form-control ms-2" type="search" formControlName="termino" maxlength="18"
                placeholder="Datos alumno">
            <button class="btn btn-danger ms-1 me-2" type="submit" style="color: aliceblue">Búscar</button>
        </div>
        <!-- <h1 *ngIf="condicion">NO SE ENCONTRARON RESULTADOS PARA {{buscar}}</h1> -->
    </form>

    <!-- <ng-container *ngIf="condicion">

        <table class="table table-bordered border-danger table-sm text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Matricula</th>
                    <th>CURP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{alumnos.nombre}}</th>
                    <th>{{alumnos.matricula}}</th>
                    <th>{{alumnos.CURP}}</th>
                </tr>
            </tbody>
        </table>
    </ng-container> -->

    <!-- (ngSubmit)="buscarAlumno() -->
    <form autocomplete="off" [formGroup]="forma">

        <fieldset disabled>

            <div class="row g-3 mb-2 text-center">
                
                <div class="col">
                    <label  class="form-label ">Fecha limite</label>
                    <input type="text" class="form-control" formControlName="fecha" #fecha>
                </div>

                <div class="col">
                    <label  class="form-label">CURP</label>
                    <input type="text" class="form-control" formControlName="curp" #CURP>
                </div>

                <div class="col ">
                    <label  class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" #nombre>
                </div>
            </div>
        </fieldset>
        
        <hr>

        <ol class="list-group list-group" *ngFor="let item of arrayDesdeService">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{item.numero}}</div>
                {{item.descripcion}}
              </div>
              <span class="badge bg-danger rounded-pill">{{item.cantidad}}</span>
            </li>
          </ol>

        <button type="button" class="btn btn-danger col-12 mx-auto my-4"
            (click)="obtenerOvh(nombre.value,  fecha.value, CURP.value)">Obtener formato
            OVH</button>
    </form>
</div>